
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../logo.png" alt="">
        </div>

        <span class="logo_name">BARIACT</span>
    </div>
	
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/diet/view">
                <i class="uil uil-utensils"></i>
                <span class="link-name">Diet</span>
            </a></li>
            <li><a href="/exercise/view">
                <i class="uil uil-basketball"></i>
                <span class="link-name">Exercise</span>
            </a></li>
            <li><a href="/analytics">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>   
            <li><a href="/profile/display">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Profile</span>
            </a></li>
          
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
				</a>

				<div class="mode-toggle">
					<span class="switch"></span>
				</div>
			</li>
        </ul>        
    </div>
</nav>


<section class="dashboard">
	
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <h6>{{user.role}}, {{user.fullname}}, {{user.email}}, {{user.ic}},
		{{#if assignedTo}}
        Assigned to {{assignedTo}}</h6>
        {{/if}}
    </div>
	
    <div class="dash-content">
		<div class="overview">
			<div class="title">
                <i class="uil uil-chart"></i>
                <span class="text">Your Calories Analytics</span>
            </div>
			<div class="boxes">
                
                <label for="datepicker">Select Month and Year:</label>
                <input type="month" class="form-control" name="datepicker" id="datepicker"/>
                <button type="submit" class="btn btn-primary" onclick="display()">Save</button>
                <p id="demo"></p>
               
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Date</th>
                            <th scope="col" class="text-center">Total Daily Calories (kcal)</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                             <td id="demo2"></td>
                             <td id="demo3"></td>
                        </tr>
                    </tbody>
                </table>
                
                <canvas id="myChart" style="display: none;"></canvas>
            </div>
		</div>
        
        
        <div class="overview">
			<div class="title">
                <i class="uil uil-chart"></i>
                <span class="text">Your Exercise Analytics</span>
            </div>
			<div class="boxes">
                <canvas id="mySecChart" style="display: none;"></canvas>
                <script>
                    
                const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
                const d = new Date();
               // document.write("The current month is " + monthNames[d.getMonth()]);
                   
                const secctx = document.getElementById('mySecChart').getContext('2d');
               // const labels = Utils.months({count: 7});
                //const labels =  {{#each rows}}{{{this.type}}}{{/each}};
               
                
                var labels = [];
                var typeofmeal;
                var separatedate;
                var i = 0;
                {{#each result}}
                    typeofmeal = "{{{this.createdAt}}}";
                  
                    separatedate = new Date(typeofmeal);
                    
                    document.write("Year : " + separatedate.getFullYear() + "<br>");
                    document.write("Month : " + (separatedate.getMonth()+1) + "<br>");
                    document.write("Day : " + separatedate.getDate() + "<br>");
                    
                    console.log(typeofmeal);
                    console.log(typeof typeofmeal);
                    labels.push(typeofmeal);
                    i++;
                    
                {{/each}}
                
              
                const mySecChart = new Chart(secctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        //labels: labels,
                        datasets: [{
                            label: 'Total Calories Burned',
                            data: [ {{#each result}}{{{this.calories_burn}}},{{/each}} ],
                            borderWidth: 1
                        }]
                        
                    },options: {
                       scales: {
                            xAxes: [{
                                ticks: {
                                    display: false //this will remove only the label
                                }
                            }]
                        }
                    }
                });
                </script> 
            </div>
		</div>
        
	</div>
</section>

<script>
function display(){
    document.getElementById('myChart').style.display = "block";
    
    var datepick = document.getElementById('datepicker').value;
    
    var datep = new Date(datepick);
    document.getElementById("demo").innerHTML = (datep.getMonth() + 1) + "/" + datep.getFullYear();
    
    const ctx = document.getElementById('myChart').getContext('2d');
                
    var labels = [];
    var c = [];
    var typeofmeal, calofmeal;
    var sdate, getsdate;;
    {{#each rows}}
    
        typeofmeal = "{{{this.createdAt}}}";
        sdate = new Date(typeofmeal);
        if((datep.getMonth() === sdate.getMonth()) && (datep.getFullYear() === sdate.getFullYear())){
            getsdate = sdate.getDate() + "/" + (sdate.getMonth()+1) + "/" + sdate.getFullYear();
            //document.write("getsdate: "+getsdate);
            
        // labels.push(getsdate);
            // c.push(calofmeal);
            calofmeal = "{{{this.calories}}}";
            calofmeal = parseInt(calofmeal);
    
            if(labels.length === 0){
                c.push(calofmeal);
                labels.push(getsdate);
            }else{
                for(var i = 0 ; i < labels.length; i++ ){
                // document.write("Label " + i + ":"+ labels[i]+ "<br>");
                    // document.write("C " + i + ":"+ c[i]+ "<br>");
                
                    if(labels[i] === getsdate){
                        c[i] = c[i] + calofmeal;//if date exist in label. just increase calories on that day
                    }else{
                        c.push(calofmeal);
                        labels.push(getsdate);
                    }
                    
                }
            }
            
        
            // document.write(labels.length+ "<br>");
            //document.write(c.length+ "<br>");
            
        // document.write("Calories 1" + {{{this.calories}}}+ "<br>");
            //document.write("Calories 2" + calofmeal+ "<br>");
        // document.write("Year : " + sdate.getFullYear() + "<br>");
            //document.write("Month : " + (sdate.getMonth()+1) + "<br>");
            //document.write("Day : " + sdate.getDate() + "<br>");
            //document.write("Time : " + sdate.getHours() + "<br>");
            //document.write("Minute : " + sdate.getMinutes() + "<br>");
        }
        else{
            document.getElementById('myChart').style.display = "none";
            document.getElementById("demo").innerHTML = "No Data Recorded on " + sdate.toLocaleString('default', { month: 'long' }) + sdate.getFullYear();
        }
            
    {{/each}}
    
    //document.write("Type of meal : ["+ labels + "]<br>");
    //document.write("Cal of meal : ["+ c + "]<br>");
    var displaydemo2 = "";
    
    for(var i = 0 ; i < labels.length; i++ ){
        displaydemo2 = displaydemo2  + labels[i] + "<br>";
    }
    
    document.getElementById("demo2").innerHTML = displaydemo2;
    
    var displaydemo3 = "";
    for(var i = 0 ; i < labels.length; i++ ){
        displaydemo3 = displaydemo3 + c[i] + "<br>";
    }
    document.getElementById("demo3").innerHTML = displaydemo3;
    
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            //labels: labels,
            datasets: [{
                label: 'Total Food Calories Intake',
                data: c,
                borderWidth: 1,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    
                ]
            }]
        },options: {
            scales: {
                xAxes: [{
                    ticks: {
                        display: false //this will remove only the label
                    }
                }]
            }
        }
        
        
    });
}
</script>