
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="../logo.png" alt="">
        </div>

        <span class="logo_name">BARIACT</span>
    </div>
	
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/diet/view">
                <i class="uil uil-utensils"></i>
                <span class="link-name">Diet</span>
            </a></li>
            <li><a href="/exercise/view">
                <i class="uil uil-basketball"></i>
                <span class="link-name">Exercise</span>
            </a></li>
            <li><a href="/analytics">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>   
            <li><a href="/profile/display">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Profile</span>
            </a></li>
          
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
				</a>

				<div class="mode-toggle">
					<span class="switch"></span>
				</div>
			</li>
        </ul>        
    </div>
</nav>


<section class="dashboard">
	
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <h6>{{user.role}}, {{user.fullname}}, {{user.email}}, {{user.ic}},
		{{#if assignedTo}}
        Assigned to {{assignedTo}}</h6>
        {{/if}}
    </div>
	
    <div class="dash-content">
		<div class="overview">
			<div class="title">
                <i class="uil uil-chart"></i>
                <span class="text">Your Calories Analytics</span>
            </div>
			<div class="boxes">
                <canvas id="myChart"></canvas>
                <script>
                   
                const ctx = document.getElementById('myChart').getContext('2d');
               // const labels = Utils.months({count: 7});
                //const labels =  {{#each rows}}{{{this.type}}}{{/each}};
                
                var labels = [];
                var typeofmeal;
                {{#each rows}}
                    typeofmeal = "{{{this.updatedAt}}}";
                    console.log(typeofmeal);
                    console.log(typeof typeofmeal);
                    labels.push(typeofmeal);
                {{/each}}
                
                
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        //labels: labels,
                        datasets: [{
                            label: 'Total Food Calories Intake',
                            data: [ {{#each rows}}{{{this.calories}}},{{/each}} ],
                            borderWidth: 1,
                             backgroundColor: [
                                'rgba(255, 99, 132, 0.2)'
                             
                            ]
                        }]
                    }
                    
                    
                });
                </script> 
            </div>
		</div>
        
        
        <div class="overview">
			<div class="title">
                <i class="uil uil-chart"></i>
                <span class="text">Your Exercise Analytics</span>
            </div>
			<div class="boxes">
                <canvas id="mySecChart"></canvas>
                <script>
                   
                const secctx = document.getElementById('mySecChart').getContext('2d');
               // const labels = Utils.months({count: 7});
                //const labels =  {{#each rows}}{{{this.type}}}{{/each}};
                
                var labels = [];
                var typeofmeal;
                {{#each result}}
                    typeofmeal = "{{{this.updatedAt}}}";
                    console.log(typeofmeal);
                    console.log(typeof typeofmeal);
                    labels.push(typeofmeal);
                {{/each}}
                
                
                const mySecChart = new Chart(secctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        //labels: labels,
                        datasets: [{
                            label: 'Total Calories Burned',
                            data: [ {{#each result}}{{{this.calories_burn}}},{{/each}} ],
                            borderWidth: 1
                        }]
                    }
                    
                    
                });
                </script> 
            </div>
		</div>
        
	</div>
</section>