<!--<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/diet/view">Diet</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/auth/logout">Log Out</a></li>
	</ul>
</nav>-->

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/logo.png" alt="">
        </div>

        <span class="logo_name">BARIACT</span>
    </div>

    <div class="menu-items">
        
        <ul class="nav-links">
            <li><a href="/dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/diet/view">
                <i class="uil uil-utensils"></i>
                <span class="link-name">Diet</span>
            </a></li>
            <li><a href="/exercise/view">
                <i class="uil uil-basketball"></i>
                <span class="link-name">Exercise</span>
            </a></li>
            <li><a href="/analytics">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>
            
            <li><a href="/profile/display">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Profile</span>
            </a></li>
          
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>        
    </div>
</nav>



<section class="dashboard">
	
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <h6 style="float: right;">
            {{#if user}}
                {{#if user.image}}
                    <img src="/images/{{user.image}}" class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{else}}
                    <img src="/images/profileimage.png"  class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{/if}}
                {{user.role}}, {{user.fullname}}, {{user.email}}, {{user.ic}}
            {{/if}}
            
            
            {{#each getuser}}
                 {{#if this.image}}
                    <img src="/images/{{this.image}}" class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{else}}
                    <img src="/images/profileimage.png"  class="pp" id="pp" style="height: 30px; width:30px; object-fit: cover; overflow:hidden"/>
                {{/if}}
                {{this.role}}, {{this.fullname}}, {{this.email}}, {{this.ic}}
            {{/each}}
            
             {{#if assignedTo}}
                Assigned to {{assignedTo}}</h6>
            {{/if}}
    </div>
	
    <div class="dash-content">
		<div class="overview">
			
            {{#each rows}}
        
            <!--<li><a target='_blank'>{{this.name}}</a><br/> <div class='imgContainer'><img  class='flexibleImg' ng-src='data:{{this.mime}};base64,base64_encode({{this.data}})' width='400' height='400'/></div></li>-->
            <button onclick="displayImage({{this.mime}},{{this.data}})">Try it</button>
             
            <img id='myImg' width='100' height='100' />
            
            {{/each}}
            
            
            {{#if send}}
                <br><br><br>
                {{{send}}}
            
            {{/if}}
            <!--
    
			<div class="title">
                <i class="uil uil-utensils"></i>
                <span class="text">Your Food List</span>
            </div>

			<!-- Diet Main View
			{{#if removedFood}}
			<div class="container" style="background-color: #ffffff;">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Success! </strong>{{removedFood}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			{{/if}}

			{{#if alert}}

			<br><br>
			<ol class="breadcrumb" style="background-color: #ffffff;">
				<li class="breadcrumb-item"><a href="/diet/view">Back to Diet</a></li>
				<li class="breadcrumb-item active" aria-current="page">Search Your Food</li>
			</ol>
			<br>

			<div class="container" style="background-color: #ffffff;">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Success! </strong>{{alert}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			{{/if}}
            <section class="sectioncalendar">
                <div class="boxcalendar">
                    <div class="containercalendar">
                        <div id="dycalendar" onclick="getDate()"></div>
                        
                    </div>
                    <div id="output"></div>
                </div>
            </section>
            <script src="/dycalendar.js"></script>
            <script>
                dycalendar.draw({
                    target: '#dycalendar',
                    type: 'month',
                    dayformat: 'full',
                    monthformat: 'full',
                    highlighttargetdate: true,
                    prevnextbutton: 'show',
                    sele
                    
                })
                
                let mystr = JSON.stringify(draw);
                document.getElementById("output").innerHTML=mystr;
                
                function getDate(){
                    let txt = "";
                    for (let x in dycalendar) {
                     txt += dycalendar[x] + " ";
                    };
                    
                    
                    document.getElementById("output").innerHTML=mystr;
                }
                
                
            </script>-->
    
		</div>
	</div>

</section>
<script>
    
    
    function passdata(data){
        var base = Buffer.from(data);
        var conversion = base.toString('base64');
        console.log(conversion);
        
        var image = document.querySelector('img#myImg');
        image.src="data:image/gif;base64,R0lGODlhDwAPAKECAAAAzMzM/////wAAACwAAAAADwAPAAACIISPeQHsrZ5ModrLlN48CXF8m2iQ3YmmKqVlRtW4MLwWACH+H09wdGltaXplZCBieSBVbGVhZCBTbWFydFNhdmVyIQAAOw==";
    }
    
    function myFunction(mime, data) {
        
        var base = Buffer.from(data);
        var conversion = base.toString('base64');
            
        document.getElementById("myImg").src = "data:"+mime+";base64,"+conversion+"";
    }

</script>