<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/diet/view">Diet</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/auth/logout">Log Out</a></li>
	</ul>
</nav>
<br>

{{#if alert}}
<div class="container" style="background-color: #ffffff;">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Success!</strong>{{alert}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>
{{/if}}

<div class="container mt-4">
	
	<div class="row" style="justify-content: center;">
	<div class="col-7">
		<h3>Food List</h3>
	</div>
	<div class="col-5 d-flex justify-content-end">
			<a href="/diet/add" type="button" class="btn btn-primary align-self-center">+ Add Food</a>
		</div>
	</div>
	
	<form class="input-group mb-3" method="POST" action="/diet/view">
		<input type="search" class="form-control" name="search" placeholder="Search Food or Meal" aria-label="Search">
		<button type="submit"><span><i class="bi bi-search"></i></span></button>		
	</form>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col" class="text-center">Food</th>
				<th scope="col" class="text-center">Calories</th>
				<th scope="col" class="text-center">Meal</th>
				<th scope="col" class="text-center">Date</th>
				<th scope="col" class="text-center">Update</th>
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
			<tr>
				<th scope="row">{{{this.id}}}</th>
				<td>{{{this.name}}}</td>
				<td>{{{this.calories}}}</td>
				<td>{{{this.type}}}</td>
				<td>{{{this.createdAt}}}</td>
				<td  class="text-center">
					<a href="/diet/display/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye-fill"></i> View </a>
					<a href="/diet/update/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pen-fill"></i> Edit </a>
					<a href="/diet/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-trash-fill"></i> Delete </a>
				</td>
			</tr>
			{{/each}}
			
		</tbody>
	</table>
</div>



