
<!--<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/diet/view">Diet</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/auth/logout">Log Out</a></li>
	</ul>
</nav>-->

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="logo.png" alt="">
        </div>

        <span class="logo_name">Bariact</span>
    </div>

    <div class="menu-items">
        
        <ul class="nav-links">
            <li><a href="/">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/diet/view">
                <i class="uil uil-utensils"></i>
                <span class="link-name">Diet</span>
            </a></li>
            <li><a href="/exercise/view">
                <i class="uil uil-basketball"></i>
                <span class="link-name">Exercise</span>
            </a></li>
			<li><a href="/screening/view">
                <i class="uil uil-clipboard-alt"></i>
                <span class="link-name">Screening Form</span>
            </a></li>   
                <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name">Analytics</span>
            </a></li>
            
            <li><a href="/profile">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Profile</span>
            </a></li>
          
        </ul>
        
        <ul class="logout-mode">
     
            <li><a href="/auth/logout">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
            </a></li>
            

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
            </a>

            <div class="mode-toggle">
                <span class="switch"></span>
            </div>
        </li>
        </ul>        
    </div>
</nav>

<br>
<ol class="breadcrumb" style="background-color: #ffffff;">
	<li class="breadcrumb-item"><a href="/diet/view">Back to Diet</a></li>
	<li class="breadcrumb-item active" aria-current="page">Search Food List From Database</li>
</ol>
<br>


{{#if alert}}
<div class="container mt-4" style="background-color: #ffffff;">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Success! </strong>{{alert}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>
{{/if}}

<br>
<center><h3>Search Food</h3></center>
<div class="container mt-4">
	<!--button for SEARCH -->
	<div class="input-group mb-3">
	<form autocomplete="on" class="input-group mb-3" method="POST" action="/diet/foodlist">
		<input type="search" autocomplete="on" class="form-control" name="search" placeholder="Search Name of Food from Database" aria-label="Search">
		<div class="input-group-append">
   			<span type="submit" class="input-group-text"><i class="bi bi-search"></i></span>
  		</div>
	</form>
	</div>
</div>	
<br>
{{#if searchword}}
<div class="container mt-4" style="background-color: #ffffff;"><h5>Searched Results for <b>"{{searchword}}"</b></h5></div>
{{/if}}

{{#each rows}}
<hr>
<div class="container" style="justify-content: center;">
	<form class="row g-3 needs-validation" method="POST" action="/diet/add_foodlist" novalidate>
		
		<center><h6>{{{this.name}}} ({{{this.serving_size}}} {{{this.serving_type}}})</h6></center>
		<center><h6>{{{this.serving_size}}} serving size: {{{this.calories}}} kcal</h6></center>
		
		<input type="text" class="form-control" id="name" placeholder="Food Name" name="name" id="name" value="{{this.name}}" hidden>
		
		<input type="text" class="form-control" id="serving_type" placeholder="Serving type" name="serving_type" id="serving_type" value="{{this.serving_type}}" hidden>
			
		<center><div class="col-6">
			<div class="form-floating mb-3">
				<select class="form-select"  id="type" name="type" placeholder="Meal" aria-label="type" aria-selected="{{{this.type}}}" aria-valuetext="{{{this.type}}}" aria-valuenow="{{{this.type}}}">
			
				{{#if this.type}}
				<option value="{{this.type}}" selected>{{this.type}}</option>
				{{/if}}
				
				<option value="breakfast">breakfast</option>
				<option value="brunch">brunch</option>
				<option value="lunch">lunch</option>
				<option value="tea">tea</option>
				<option value="dinner">dinner</option>
				<option value="supper">supper</option>
				</select>
				<label for="type">Meal</label>
			</div>
		</div></center>
		
		<center><div class="col-6">
			<div class="form-floating mb-3">
				<input type="number" class="form-control" id="serving_size" placeholder="Serving size" name="serving_size" id="serving_size" value="{{this.serving_size}}">
				<label for="serving_size">Serving Size</label>
			</div>
		</div></center>
		 	
		<input type="text" class="form-control" id="calories" placeholder="Calories" name="calories" id="calories" value="{{this.calories}}" hidden>
		<div class="col-12">
			<button class="btn btn-primary float-right" type="submit">Add New Food</button>
		</div>		
	</form>
</div>
<br>
{{/each}}

