{{#if user.ic}}
<!--IC Input Field--> 
<div class="form-group" id="ic" name= "ic">
<input type="hidden" class="form-control" id="ic" name= "ic" value="{{user.ic}}">
</div>
<!--Name Input Field--> 
<div class="form-group" id="fullname" name= "fullname">
<input type="hidden" class="form-control" id="fullname" name= "fullname" value="{{user.fullname}}">
</div>
{{/if}}

{{#if this.ic}}
<!--IC Input Field--> 
<div class="form-group" id="ic" name= "ic">
<input type="hidden" class="form-control" id="ic" name= "ic" value="{{this.ic}}">
</div>
<!--Name Input Field--> 
<div class="form-group" id="fullname" name= "fullname">
<input type="hidden" class="form-control" id="fullname" name= "fullname" value="{{this.fullname}}">
</div>
{{/if}}

{{#if ic}}
<!--IC Input Field--> 
<div class="form-group" id="ic" name= "ic">
<input type="hidden" class="form-control" id="ic" name= "ic" value="{{ic}}">
</div>
{{/if}}

{{#if assignedTo}}     
<div class="form-group" id="assignedTo" name= "assignedTo">
	<input type="hidden" class="form-control" id="assignedTo" name= "assignedTo" value="{{assignedTo}}">
</div>
{{/if}}

<center><h6>{{{this.name}}} ({{{this.serving_size}}} {{{this.serving_type}}})</h6></center>
<center><h6>{{{this.serving_size}}} serving size: {{{this.calories}}} kcal </h6></center>

<input type="text" class="form-control" id="name" placeholder="Food Name" name="name" id="name" value="{{this.name}}" hidden>

<input type="text" class="form-control" id="ic" placeholder="IC" name="ic" id="ic" value="{{ic}}" hidden>

<input type="text" class="form-control" id="serving_type" placeholder="Serving type" name="serving_type" id="serving_type" value="{{this.serving_type}}" hidden>
	
<center><div class="col-6">
	<div class="form-floating mb-3">
		<input type="datetime-local" class="form-control" id="time" placeholder="Select Time" name="time" id="time" value="{{this.time}}">
		<label for="time">Select Time</label>
	</div>
</div></center>



<center><div class="col-6">
	<div class="form-floating mb-3">
		<select class="form-select"  id="type" name="type" placeholder="Meal" aria-label="type" aria-selected="{{{this.type}}}" aria-valuetext="{{{this.type}}}" aria-valuenow="{{{this.type}}}">
	
		{{#if this.type}}
		<option value="{{this.type}}" selected>{{this.type}}</option>
		{{/if}}
		
		<option value="breakfast">breakfast</option>
		<option value="brunch">brunch</option>
		<option value="lunch">lunch</option>
		<option value="tea">tea</option>
		<option value="dinner">dinner</option>
		<option value="supper">supper</option>
		</select>
		<label for="type">Meal</label>
	</div>
</div></center>

<center><div class="col-6">
	<div class="form-floating mb-3">
		<input type="number" class="form-control" id="serving_size" placeholder="Serving size" name="serving_size" id="serving_size" value="{{this.serving_size}}">
		<label for="serving_size">Serving Size</label>
	</div>
</div></center>
	
<input type="text" class="form-control" id="calories" placeholder="Calories" name="calories" id="calories" value="{{this.calories}}" hidden>
<div class="col-12">
	<button class="btn btn-primary float-right" type="submit">Add New Food</button>
</div>	